@page
@model Crisis.CreateModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supplier.SupplierNo" class="control-label"></label>
                <input asp-for="Supplier.SupplierNo" class="form-control" />
                <span asp-validation-for="Supplier.SupplierNo" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Supplier.CreateDate" class="control-label"></label>
                <input asp-for="Supplier.CreateDate" type="datetime" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="Supplier.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Creator" class="control-label"></label>
                <input readonly asp-for="Supplier.Creator" value="@User.Identity.Name" class="form-control" />
                <span asp-validation-for="Supplier.Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-page="Categories/Index" style="margin-left:5px;">Category</a>
                <select asp-for="Supplier.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <a asp-page="Statuses/Index" style="margin-left:5px;">Status</a>
                <select asp-for="Supplier.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.ReopenDate" class="control-label"></label>
                <input asp-for="Supplier.ReopenDate" class="form-control" type="date" />
                <span asp-validation-for="Supplier.ReopenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
