<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crisis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <!-- Page level plugin CSS-->
    <link href="~/lib/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!--datatables javascript must run here to work-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Crisis</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
                    <a href="https://github.com/CusterN/Crisis" target="_blank" class="nav-link text-dark navbar-right">GitHub</a>
                    <a href="http://troahmdjk5rch2.am.mds.honda.com/Story" target="_blank" class="nav-link text-dark navbar-right">Story</a>
                    <a href="http://troahmdjk5rch2.am.mds.honda.com/sppcwebprod" target="_blank" class="nav-link text-dark navbar-right">SPPCWeb</a>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Comments/Index">Comments</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.worldometers.info/coronavirus/" target="_blank" class="nav-link text-dark">COVID-19</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Crisis - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
